# -*- MakeFile -*- 
# Makefile.pkg.config: Makefile configs for building 3rd-party libraries
#                      and tools that are useful for Clay
# 

include $(LEVEL)/Makefile.config

MAKE = make
ECHO = echo

# Tcl settings
# TCLVer := tcl8.5
# TCLPack := tcl8.5.8
# TCLDir = $(CLAY_PKG_BUILD)/$(TCLPack)/$(TCLPack)
# TCLLibDir = $(TCLDir)/library
