# -*- MakeFile -*-
#==================================================================== 
# Makefile.src.config
#==================================================================== 
# @author : Zhiru Zhang
# @date   : 7/26/2015
# @brief  : Makefile configs for source directory
#
#

# Set the directory root of this project's source files
PROJ_SRC_ROOT := $(SRC_LEVEL)
DATuner_ROOT = $(PROJ_SRC_ROOT)/..
include $(DATuner_ROOT)/Makefile.config

#----------------------------------------------------------
# Default compilation flags used in the src directory
#----------------------------------------------------------
CPPFLAGS += -I$(PROJ_SRC_ROOT)/include

#----------------------------------------------------------
# Include and lib paths for the installed DATuner packages
#----------------------------------------------------------
DATuner_PKG_LIB = $(DATuner_PKG_INSTALL)/lib
DATuner_PKG_INC = $(DATuner_PKG_INSTALL)/include

#----------------------------------------------------------
# Python include and lib paths
#----------------------------------------------------------
CPPFLAGS += -I$(DATuner_PKG_INC)
CPPFLAGS += -I$(DATuner_PKG_INSTALL)/../python/install/include/python2.7/

LDFLAGS = -lm -lpthread -ldl -lutil
LDFLAGS += -L$(DATuner_PKG_LIB)/ -lmpi
LDFLAGS += -L$(DATuner_PKG_LIB)/ -lsqlite3
LDFLAGS += -L$(DATuner_PKG_INSTALL)/../python/install/lib/ -lpython2.7



